packages/
*.tmp
#Ignore Visual studio files
*.sdf
*.suo
*.user
#Ignore incremental build information
ipch/
#Ignore Intellisence database
Ignition.opensdf
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.opensdf
*.blend1
*.xcf
